{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <style>
        .profile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    </style>
    {% block control %}{% endblock %}
    <div class="profile">
        <div class="user-auth">
            {{ form_start(form_user) }}
            {{ form_end(form_user) }}

            <div>Username: {{ user.getUsername() }}</div>
            <div>Email: {{ user.getEmail() }}</div>
        </div>
        <div class="user-info">
            {{ form_start(form_profile) }}
            {{ form_end(form_profile) }}
        </div>
    </div>
{% endblock %}
