{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .dialog-container {
            padding: 0 25%;
            display: grid;
            grid-template-columns: 13% 70% 13%;
            column-gap: 2%;
        }
        .dialog-container .dialog-you,
        .dialog-container .dialog-message,
        .dialog-container .dialog-partner {
            display: flex;
            flex-direction: column;
        }
    </style>
    <div class="dialog-container">
        <div class="dialog-you">
            <h5>You:</h5>
            <div>Username: {{ you.getUsername() }}</div>
        </div>
        <div class="dialog-message">
            <h5>Messages:</h5>
            {{ form_start(send_form, {'action': path('app_route_dialog_message_create'), 'method': 'POST'}) }}
            {{ form_row(send_form.message, {'attr': {'class': 'test'}}) }}
                <button type="submit" class="btn">Отправить</button>
            {{ form_end(send_form) }}
        </div>
        <div class="dialog-partner">
            <h5>Partner</h5>
            <div>Username: {{ partner.getUsername() }}</div>
    </div>
{% endblock %}