<header>
    <div class="header-container">
        <div class="header-brand">
            <div class="brand-item brand-logo">
                <a href="#">
                    <img src="" alt="">
                </a>
            </div>
            <div class="brand-item brand-title">
                <h5>
                    <a href="{{ path('app_home') }}">Communicate</a>
                </h5>
            </div>
        </div>
        <div class="header-links">
            {#        <div class="link-item">#}
            {#            <a href="{{ path('app_route_dialogs') }}">Диалоги</a>#}
            {#        </div>#}
            {#        <div class="link-item">#}
            {#            <a href="{{ path('app_route_users') }}">Пользователи</a>#}
            {#        </div>#}
            <div class="link-item">
                <a href="{{ path('app_profile') }}">Профиль</a>
            </div>
            {#        <div>#}
            {#            <a href="{{ path('app_route_logout') }}">Выйти</a>#}
            {#        </div>#}
        </div>
    </div>
</header>